aiohttp==3.6.2
appdirs==1.4.3
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
cssselect==1.1.0
ctypescrypto==0.5
decorator==4.4.2
editdistance==0.5.3
fake-useragent==0.1.11
fleep==1.0.1
future==0.18.2
geographiclib==1.50
geopy==1.21.0
idna==2.8
ifaddr==0.1.6
libarchive-c==2.9
lxml==4.5.0
multidict==4.7.5
netifaces==0.10.9
numpy==1.18.2
parse==1.15.0
pdfcrowd==4.11.0
Pillow==6.2.1
protobuf==3.11.3
pycparser==2.19
pyee==7.0.1
PyPDF2==1.26.0
pyppeteer==0.0.25
pyquery==1.4.1
python-axolotl==0.2.3
python-axolotl-curve25519==0.4.1.post2
python-dateutil==2.8.1
python-telegram-bot==12.5.1
requests==2.22.0
requests-toolbelt==0.9.1
scipy==1.4.1
six==1.12.0
soupsieve==1.9.5
telepot==12.7
tornado==6.0.4
tqdm==4.43.0
urllib3==1.25.6
uuid==1.30
w3lib==1.21.0
websockets==8.1
yarl==1.4.2
yowsup2==2.5.0
